* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}
body {
    /* font-size: 14px; */
    font-family: "Hiragino Kaku Gothic, Helvetica",sans-serif;
    font-feature-settings:"palt";
    /* background: #eee; */
    background: #fff;
    color: #808080;
    -webkit-text-size-adjust: 100%;
}

#main {
    /* background: #eee; */
    background: #fff;
}
#main-in {
    padding-left: 260px;
}
#main p {
    margin-bottom: 1em;
    line-height: 1.9;
}
#main .inner {
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
}
#main h4 {
    color: #fff;
    background-color: #808080;
}
#main ul {
    list-style-type: none;
}
#main li span.content {
    float:left;
    width:10em;
}

/* main-visual
#main-visual {
    background: #64CE80;
    background: -webkit-linear-gradient(-45deg, #64CE80, #C68BC4);
    background: -moz-linear-gradient(-45deg, #64CE80, #C68BC4);
    background: -ms-linear-gradient(-45deg, #64CE80, #C68BC4);
    background: -o-linear-gradient(-45deg, #64CE80, #C68BC4);
    background: linear-gradient(-45deg, #64CE80, #C68BC4);


    height: 400px;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#main-visual h2 {
    font-size: 180%;
    color: #fff;
} */
h3 {
    font-size: 131%;
    margin-bottom: .7em;
}
#copyright a {
    color: #666;
    text-decoration: none;
}
#copyright a:hover {
    text-decoration: underline;
}

/* ここから */
#global-head {
    position: fixed;
    /* color: #033560; */
    color: #000;
    width: 260px;
    text-align: center;
    padding-top: 0px;
    z-index: 100;
}

#sidebar {
    font-size: 15px;
    padding-top: 120px;
    width: 260px;
    height: 100%;
    position: fixed;
    /* color: #033560; */
    color: #808080;
    background: #fff;
    text-align: center;
}

#global-nav ul {
    list-style: none;
    margin-left: 0;
}
#global-nav > ul > li {
    position: relative;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

#global-nav a {
    color: #808080;
    /* color: #fff; */
    /* background-color: #808080; */
    text-decoration: none;
    display: block;
    padding: 15px 0;
    -moz-transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
#global-nav .sub-menu.is-active > a,
#global-nav a:hover {
    color: #fff;
    /* background: #808080; */
}
#global-nav .shopinfo a:hover {
    background : #ff1a1a
}
#global-nav .price a:hover {
    background : #ff931e
}
#global-nav .access a:hover {
    background : #fff100
}
#global-nav .calendar a:hover {
    background : #aeff00
}
#global-nav .lineup a:hover {
    background : #00ff19
}
#global-nav .news a:hover {
    background : #00ccff
}
#global-nav .facebook a:hover {
    background : #1877F2
}
#global-nav .instagram a:hover {
    background : #93278f
}
#global-nav .blog a:hover {
    background : #ff7bac
}
#global-nav .qanda a:hover {
    background : #ff505f
}

#global-nav .sub-menu-nav a,
#global-nav .sub-menu:hover .sub-menu-nav {
    width: 230px;
}

/* sub-menu icon */
/* #global-nav .sub-menu-head {
    position: relative;
}
#global-nav .sub-menu-head:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    margin: auto;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-top: 1px solid #033560;
    border-right: 1px solid #033560;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} */



/* sub-menu */
/* #global-nav .sub-menu-nav {
    position: fixed;
    background: #033560;
    color: #fff;
    top: 0;
    padding-top: 90px;
    left: 260px;
    width: 0;
    height: 100%;
    overflow: hidden;

    -moz-transition: width .2s ease-out;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out;
}
#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu-head:hover:after {
    border-color: #fff;
}
#global-nav .sub-menu-nav a {
    color: #fff;
}
#global-nav .sub-menu-nav a:hover {
    color: #033560;
    background: #fff;
} */

/* nav-toggle */
#nav-toggle {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    height: 32px;
}
#nav-toggle > div {
    position: relative;
    width: 32px;
}
#nav-toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #808080;
    position: absolute;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}


#overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



@media screen and (max-width: 900px) {
    #main-in {
        padding-left: 0;
    }

    #global-head {
        width: 100%;
        padding: 10px;
        background: rgba(255,255,255,.8);
        display: -webkit-flex;
        display: flex;
    }

    #sidebar {
        /*display: none;*/
        position: fixed;
        right: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        color: #333;
        background: #fff;
        -webkit-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
    }

    /* サブメニューは開けない */
    #global-nav .sub-menu-head:after,
    #global-nav .sub-menu-nav {
        display: none;
    }
    #nav-toggle {
        display: block;
    }

    /* nav open */
    .open {
        overflow: hidden;
    }
    .open #overlay {
        display: block;
    }
    .open #sidebar  {
        -webkit-transform: translate3d(-300px,0,0);
        transform: translate3d(-300px,0,0);
    }

    /* #nav-toggle close */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* z-index */
    #overlay {
        z-index: 200;
    }
    #sidebar {
        z-index: 300;
    }
    #nav-toggle {
        z-index: 400;
    }


}

@media screen and (max-width: 400px) {
    #sidebar {
        right: -200px;
        width: 200px;
        padding-top: 60px;
    }
    .open #sidebar  {
        -webkit-transform: translate3d(-200px,0,0);
        transform: translate3d(-200px,0,0);
    }
}